#objective {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  color: navajowhite;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-weight: 800;
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s ease;
  letter-spacing: 2px;
}

#cutu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 90vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.6);

  z-index: 9999;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.4s ease;
}
